<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="format-detection" content="telephone=no,email=no">
  <title>昊广信息科技有限公司</title>
  <!-- 声明文档使用的字符编码 -->
<meta charset='utf-8'>
<!--ogp 规则-->
<!--<meta property="og:title" content="标题" />-->
<!--<meta property="og:description" content="描述" />-->
<!--og推送链接-->
<!--<meta property="og:url" content="" />-->
<!--og图片显示-->
<!--<meta property="og:image" content="" />-->
<!--视口 不缩放 -->
<meta name="viewport" content="user-scalable=no,width=device-width, initial-scale=1.0,  minimum-scale=1.0, maximum-scale=1.0">
<meta name="flexible" content="initial-dpr=1" />
<!-- 页面描述 -->
<meta name="description" content="公司致力于互联网研发，为用户提供快捷高效的互联网产品。" />
<!-- 页面关键词 -->
<meta name="keywords" content="移动营销工具，身份验证，短信推广，代言人，广告平台，USSD," />
<!-- 网页作者 -->
<meta name="author" content="male" />
<!-- 搜索引擎抓取 -->
<meta name="robots" content="index,follow" />
<!-- iOS 设备 begin -->
<meta name="apple-mobile-web-app-title" content="厦门昊广科技">
<!-- 添加到主屏后的标题（iOS 6 新增） -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- 是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏 -->
<meta name="apple-itunes-app" content="app-id=myAppStoreID, affiliate-data=myAffiliateData, app-argument=myURL">
<!-- 添加智能 App 广告条 Smart App Banner（iOS 6+ Safari） -->
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<!-- 设置苹果工具栏颜色 -->
<meta name="format-detection" content="telephone=no, email=no" />
<!-- 忽略页面中的数字识别为电话，忽略email识别 -->
<!-- 启用360浏览器的极速模式(webkit) -->
<meta name="renderer" content="webkit">
<!-- 避免IE使用兼容模式 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<!-- 不让百度转码 -->
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- windows phone 点击无高光 -->
<meta name="msapplication-tap-highlight" content="no">
<meta name="msapplication-TileColor" content="#000" />
<!--<link href="logo.ico" rel="shortcut icon" type="image/x-icon">-->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<link rel="shortcut icon" href="__PUBLIC__/home/favicon.ico"><link href="__PUBLIC__/home/assets/css/vendors.css?88a448afc8a4d5f5030f" rel="stylesheet"><link href="__PUBLIC__/home/assets/css/index.css?88a448afc8a4d5f5030f" rel="stylesheet"></head>

<body>
  <section class="side">
    <ul class='side-con container'>
        <li class="active"><a>
        首页    
    </a></li>
        <li><a>
        产品案例    
    </a></li>
        <li><a>
            公司介绍
    </a></li>
        <li><a>
            合作伙伴
    </a></li>
        <li><a>
            产品接口
    </a></li>
        <li><a>
            联系我们
    </a></li>
    </ul>
</section>

    <section class='main'>

      <div class="header in">
    <buttom class="btn-nav">
        <i></i>
        <i></i>
        <i></i>
    </buttom>
    <div class="logo box">
        <img src="__PUBLIC__/home/assets/img/logo@2x.png?92496a8d5e42bc0f272f49103ba96cea" alt="厦门昊广">
    </div>
</div>
        <!--content-->
        <div class="swiper-container page" id="page">
          <section class="swiper-wrapper">
            <div class="swiper-slide items" id="op1" data-history="1">
              <h1 class='text title'>
                厦门昊广信息科技有限公司，是一家以高技术为起点，以技术创新为目标的高新技术公司。</h1>
              <div class="con">
                <img src="__PUBLIC__/home/assets/img/index@2x.png?46230c14d05761de95a8be9cd04df036" alt="">
              </div>
              <a data-icon="bottom" class="animated flash animate-loop"></a>


            </div>
            <div class="swiper-slide items pt" data-history="2">
              <h2 class="font-title title text-center">公司平台</h2>
              <!--横播 sw1 定位 目标-->
              <section class="text cell-sw" id='sw1'>
                <div class="swiper-container cell-swiper">
                  <ul class="swiper-wrapper">
                    <!--1-->
                    <li class="swiper-slide item-cell">
                      <h3 class=" f-tit">传信通</h3>
                      <p class="text-con">
                        我司与咪咕动漫有限公司合作，通过自主开发的web应用平台，对弹屏、彩信、短信的图文内容进行定制，以实现在手机通话行为触发后，系统接口平台将这些内容推送到手机终端。
                      </p>
                      <div class="box">
                        <img src="__PUBLIC__/home/assets/img/2@2x.png?982807535da93488645d8fa5a62d4656" alt="">
                      </div>
                      <div class="flex-center">
                        <a href="xq.html" class="btn-big blue">
                          产品详情
                        </a>
                        <a href="show.html" class="btn-big orange">
                          平台案例
                        </a>
                      </div>
                    </li>

                    <!--2-->
                    <li class="swiper-slide item-cell">
                      <h3 class="f-tit ">广告平台</h3>
                      <p class="text-con">
                        我司与咪咕动漫有限公司合作，通过自主开发的web应用平台，对弹屏、彩信、短信的图文内容进行定制，以实现在手机通话行为触发后，系统接口平台将这些内容推送到手机终端。
                      </p>
                      <div class="box">
                        <img src="__PUBLIC__/home/assets/img/3@2x.png?97ef287e761ad47c2806f51571f6fc28" alt="">
                      </div>
                      <div class="flex-center">
                        <a href="xq.html" class="btn-big blue">
                          产品详情
                        </a>
                        <a href="show.html" class="btn-big orange">
                          平台案例
                        </a>
                      </div>
                    </li>
                    <!--3-->
                    <li class="swiper-slide item-cell">
                      <h3 class=" f-tit ">教育平台</h3>
                      <p class="text-con">
                        我司与咪咕动漫有限公司合作，通过自主开发的web应用平台，对弹屏、彩信、短信的图文内容进行定制，以实现在手机通话行为触发后，系统接口平台将这些内容推送到手机终端。

                      </p>
                      <div class="box">
                        <img src="__PUBLIC__/home/assets/img/1@2x.png?0f0d5dafac394822f7816e4c050907f1" alt="">
                      </div>
                      <div class="flex-center">
                        <a href="xq.html" class="btn-big blue">
                          产品详情
                        </a>
                        <a href="show.html" class="btn-big orange">
                          平台案例
                        </a>
                      </div>
                    </li>
                  </ul>
                </div>
                <a class="btn-prev" data-icon></a>
                <a class="btn-next" data-icon></a>
              </section>
              <a data-icon="bottom" class="animated flash animate-loop"></a>

            </div>
            <!--about-->
            <div class="swiper-slide items about" id="op3" data-history="3">
              <div class="box">
                <img src="__PUBLIC__/home/assets/img/op3@2x.png?819a78ddcb2c510546c9fb1721e1048c" alt="">
              </div>
              <h2 class="text text-center font-title title ">公司介绍</h2>
              <p class="text">
                &emsp;&emsp;厦门昊广信息科技有限公司成立于2017年，位于厦门思明区软件园二期。我公司是以高技术为起点，以技术创新为目标的高新技术公司，公司以各类计算机专业技术人才为技术依托，充分发挥技术人才的潜力和优势，应用于高新技术产品研发。
                <br/><br/> &emsp;&emsp;公司主要从事软件开发；计算机、软件及辅助设备批发；计算机、软件及辅助设备零售；广告的设计、制作、代理、发布；信息系统集成服务；集成电路设计；信息技术咨询服务；数据处理和存储服务。公司通过总经理的带动下，团结协作，发挥各方才能，开发出具有极高到达率及转化率，超低成本，电信级稳定并发通道，灵活、精准、泛行业的移动营销工具

              </p>
              <a data-icon="bottom" class="animated flash animate-loop"></a>

            </div>
            <!--合作-->
            <div class="swiper-slide items bg-blue logos" id="op4" data-history="3">
              <h3 class="text-center font-title title animated" data-animate='flash'>合作伙伴</h3>
              <div class="con">
                <ul>
                  <li><img src="__PUBLIC__/home/assets/img/logo1@2x.png?d4bbd8f00acd741a2486ab83bb63970b" alt=""></li>
                  <li><img src="__PUBLIC__/home/assets/img/logo2@2x.png?46cfc6d35452c1b388c28a36a7fdba34" alt=""></li>
                  <li><img src="__PUBLIC__/home/assets/img/logo3@2x.png?7fa177314c605bcc71df686cec7dc6bd" alt=""></li>
                  <li><img src="__PUBLIC__/home/assets/img/logo4@2x.png?c5278837eae6670f0090dc31f4a5c94f" alt=""></li>
                  <li><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFwAAAAiCAMAAADlGU7bAAAAV1BMVEX///8AZLYAfcKv1OoAarkAecAAcr3///8Ae8H///8AW7Ko0OkAdr8uksvv9/o5lszT6PIMf8IviMZYptSAt9zL4vBKnNDg7vafzOYbhMRorNeSwuG62uwKz8y+AAAACHRSTlPy////////5ZXmvn8AAAIBSURBVEjH7ZbZeqQgEIUFC8KmuLTaLu//nMMu9pgv0yZeZc5VU5Y/pwtKKD6K2/RR8BtVFHey/8O/AX905XX41lVBelzW4SWr0Qihvk7j3mV3fRzX2gce5/CngCjDgW492AbEsEIkvTu7bDEnOEUuMJ7DJRC2S4Homt22oJgxDCI5rcBmgU7wltoA6v8FbhNhyGwzTO10zbj+CBwjams8dM62mcvUZKXCV/4aHAMCBzM/bQWtbRZsT7Y8BLWP+iJc6VETRBxeEemqjb3tMI8Sbc31FThBG+fTAt46AbCzEKon3vjyYDfP4FnvwsG1yoh83f0ywKE8gx34yr0Nl3YwHPdlu4zZqsYlvgqvMc33DUG2PMk2wuHBT8CDKD3YvgzfEDlhN8k2Idfgmx10EKyp5JIRtcjK7xgK5JMFXb5yPj078ExVUdjpDPzOZIiu2m/FqnEa6gCHMQZOm4i0M0OegaHlWyty86lZfRNhQp3Ek3t4DKDyvP3No4gy7/C6R7n50Kyh/c1/c0pwUzurz+A7RoUPbDnv5o1t3fAMHj6gCR5swRdwEHFx6iWZN9XOv+dvwBWJUuYw6uS+6N58su3gJJODZ2P1Cs+OOVBzL497yppPttMxFyVWTo8BeYRPsowapr/P8W0WYxbe9mwjOfGyfAm8dbWo5S+7cd16hb7z8v8HN8xkmleappsAAAAASUVORK5CYII=" alt=""></li>
                  <li><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEMAAAAnCAMAAABjcQUNAAAAY1BMVEX///8GBgaampoeHh4AAAD///+IiIjn5+fd3d3///88PDwSEhLx8fGoqKh5eXlpaWn4+Phzc3MoKChISEj+/v6hoaGRkZHNzc3W1taDg4M0NDSxsbHFxcW7u7tRUVFXV1dgYGB1nQ2YAAAADXRSTlPy/////////v7l///+6VnQDQAAAdlJREFUSMftlsuSozAMRW1zZdPGvAPhESD//5V9RWZW3dXVVUnNZuKNbJCPpCtM2XyYZ8eHkeeHMS9AvBlvxj9jXJ5hNCGExHmibVKep99unkrX/GG0sKhFmoz2FoHbLxEbgDyfgjIWzqPISINr2/fp29q+LjvYqwO8MjhHIaJpFPm2Mo1yrlyQVA4hn6VxVaU5N0NVj1eN79t5O2N2V8Y/cmMaiwyQG7oF+wTcJWpGRd4AS4E101WWGErHIPXDrvg7SmOuwJ4hHTgWeDJ8ywd0LG7n5gKoD6Bl1k7uWU3bteSOnm6uQDFSEC0pYrTFaLGWlMZiYTntTKdi2KF6Z3RlVp6lADYXug2Tqm/Ra18qzu8sp2LcrYLtgfmUjS+8Zj6cDNHacadTJ8JCWr5OOa0y6NUwJFJ5wrr2ZDg/nm0msZSpuK9BmjWetWUPfA0rTiOQQS8ZlN4zy4hIfbKSTnGHTar+4qLN5s5GDb/TyzsLTD1hjN85YxJT0Pq2C/cGSqBwjiVQTXa0P1ddqh5NCME+msGuZRobhzFh9u6Sz16a2W9clPwA6tiPIt4PKovb4+FoVz6tJn7hVYztTcI8ryp9NT3O3LfH7eczeHn/x96M/5HxivvYC+6FnyuBPOAjzDeOAAAAAElFTkSuQmCC" alt=""></li>
                  <li><img src="__PUBLIC__/home/assets/img/logo7@2x.png?920f26aee9d2af442bda794a2710f8f4" alt=""></li>
                  <li><img src="__PUBLIC__/home/assets/img/logo8@2x.png?0c70c850a09aec48ede076d035644868" alt=""></li>
                  <li><img src="__PUBLIC__/home/assets/img/logo9@2x.png?77b816be1c1e9bda8fff9d7538e40011" alt=""></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <!--显示用点-->
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>

                </ul>

                <!--<img src="__PUBLIC__/home/assets/img/logos@2x.png?c44cd51041efd31b3ef5c28fc8ff8169" alt="">-->

              </div>
              <a data-icon="bottom" class="animated flash animate-loop"></a>
            </div>
            <div class="swiper-slide items " data-history="4">
              <!--横播-->
              <section class="text cell-sw" id='sw2'>
                <div class="swiper-container cell-swiper">
                  <ul class="swiper-wrapper">
                    <!--1-->
                    <li class="swiper-slide item-cell">
                      <h3 class="font-title title text-center">传信通平台API</h3>
                      <p class="text-con">
                        本规范对厦门昊广信息科技有限公司企业研发部与企业用户的接口要求，是开放短信服务接口时，研发部与企业用户间，所涉及功能需要遵从的技术文件。
                        <br/> 本规范仅描述业务操作、内容操作、设置操作及通知结果等相关功能。

                      </p>
                      <!--if list length <8  add classname noswiper on the list -->
                      <ul class="list ">
                        <li>
                          <a href="__PUBLIC__/home/assets/img/传信通短信服务接口规范-v0.01-20170623.docx?0d40320b00f1d3ab7516f5383f2c7255" download="传信通短信服务接口规范-v0.01-20170623.docx" class="btn pull-right">下载文档</a>                          传信通短信服务接口规范V0.01
                        </li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                      </ul>
                    </li>
                    <!--1-->
                    <li class="swiper-slide item-cell">
                      <h3 class="font-title title text-center">教育平台API</h3>
                      <p class="text-con">
                        本规范对厦门昊广信息科技有限公司企业研发部与企业用户的接口要求，是开放短信服务接口时，研发部与企业用户间，所涉及功能需要遵从的技术文件。
                        <br/> 本规范仅描述业务操作、内容操作、设置操作及通知结果等相关功能。

                      </p>
                      <!--if list length <8  add classname noswiper on the list -->
                      <ul class="list ">
                        <li>
                          <a href="#" class="btn pull-right">下载文档</a> 传信通短信服务接口规范V0.01
                        </li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                      </ul>
                    </li>
                    <!--1-->
                    <li class="swiper-slide item-cell">
                      <h3 class="font-title title text-center">广告平台API</h3>
                      <p class="text-con">
                        本规范对厦门昊广信息科技有限公司企业研发部与企业用户的接口要求，是开放短信服务接口时，研发部与企业用户间，所涉及功能需要遵从的技术文件。
                        <br/> 本规范仅描述业务操作、内容操作、设置操作及通知结果等相关功能。

                      </p>
                      <!--if list length <8  add classname noswiper on the list -->
                      <ul class="list ">
                        <li>
                          <a href="#" class="btn pull-right">下载文档</a> 传信通短信服务接口规范V0.01
                        </li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <a class="btn-prev" data-icon></a>
                <a class="btn-next" data-icon></a>
              </section>
              <a data-icon="bottom" class="animated flash animate-loop"></a>
            </div>
            <div class="swiper-slide items footer" data-history="5">
              <div class="footer-top">
                <nav class="con">
                  <a href="fw.html">
                  <i data-icon='fx'></i>
                  服务流程
                </a>
                  <a href="fj.html">
                  <i data-icon='down'></i>
                  附件下载
                </a>
                  <a href="bz.html">
                  <i data-icon='sun'></i>
                  服务保障
                </a>
                </nav>
              </div>
              <!--qr-->
              <section class='list-box'>
                <div class="list-bg">

                  <ul class="list ">
                    <h3 class="title text-center font-title ">
                      联系我们
                    </h3>
                    <li>
                      电话：<a href="tel:05922529781">0592-2529781</a>
                    </li>
                    <li>
                      邮箱 <span>hgkj@fjhgkj.com</span>
                    </li>
                    <li>
                      地址：厦门软件园二期望海路10号之一4F
                    </li>
                    <li>
                      <div class="box">
                        <img src="__PUBLIC__/home/assets/img/qr@2x.png?4e3bcc392923acf5fbebcbe7663bd5e2" alt="昊广公众号">
                      </div>
                    </li>
                    <li class="flex-center">
                      <a href="join.html" class="btn-big orange">
                      加入我们
                    </a>
                    </li>
                    <p class="text-center">

                      © 2015-2016 传信通 版权所有京ICP证050062号
                    </p>
                  </ul>
                </div>
              </section>
            </div>
          </section>
          <!-- 如果需要分页器 -->
          <!--<div class="swiper-pagination"></div>-->
        </div>
    </section>
    <div class="loading active" id='mask'>
  <section class='icon-loading'>
    <i></i>
    <i></i>
    <i></i>
    </section>
</div>
<script type="text/javascript" src="__PUBLIC__/home/assets/js/vendors.js?88a448afc8a4d5f5030f&88a448afc8a4d5f5030f"></script><script type="text/javascript" src="__PUBLIC__/home/user/index/app.js?88a448afc8a4d5f5030f"></script></body>

</html>