<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="format-detection" content="telephone=no,email=no">
  <title>客户案例-昊广信息科技有限公司</title>
  <!-- 声明文档使用的字符编码 -->
<meta charset='utf-8'>
<!--ogp 规则-->
<!--<meta property="og:title" content="标题" />-->
<!--<meta property="og:description" content="描述" />-->
<!--og推送链接-->
<!--<meta property="og:url" content="" />-->
<!--og图片显示-->
<!--<meta property="og:image" content="" />-->
<!--视口 不缩放 -->
<meta name="viewport" content="user-scalable=no,width=device-width, initial-scale=1.0,  minimum-scale=1.0, maximum-scale=1.0">
<meta name="flexible" content="initial-dpr=1" />
<!-- 页面描述 -->
<meta name="description" content="公司致力于互联网研发，为用户提供快捷高效的互联网产品。" />
<!-- 页面关键词 -->
<meta name="keywords" content="移动营销工具，身份验证，短信推广，代言人，广告平台，USSD," />
<!-- 网页作者 -->
<meta name="author" content="male" />
<!-- 搜索引擎抓取 -->
<meta name="robots" content="index,follow" />
<!-- iOS 设备 begin -->
<meta name="apple-mobile-web-app-title" content="厦门昊广科技">
<!-- 添加到主屏后的标题（iOS 6 新增） -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- 是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏 -->
<meta name="apple-itunes-app" content="app-id=myAppStoreID, affiliate-data=myAffiliateData, app-argument=myURL">
<!-- 添加智能 App 广告条 Smart App Banner（iOS 6+ Safari） -->
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<!-- 设置苹果工具栏颜色 -->
<meta name="format-detection" content="telephone=no, email=no" />
<!-- 忽略页面中的数字识别为电话，忽略email识别 -->
<!-- 启用360浏览器的极速模式(webkit) -->
<meta name="renderer" content="webkit">
<!-- 避免IE使用兼容模式 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<!-- 不让百度转码 -->
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- windows phone 点击无高光 -->
<meta name="msapplication-tap-highlight" content="no">
<meta name="msapplication-TileColor" content="#000" />
<!--<link href="logo.ico" rel="shortcut icon" type="image/x-icon">-->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<link rel="shortcut icon" href="favicon.ico"><link href="__PUBLIC__/home/assets/css/vendors.css?88a448afc8a4d5f5030f" rel="stylesheet"><link href="__PUBLIC__/home/assets/css/show.css?88a448afc8a4d5f5030f" rel="stylesheet"></head>

<body>

    <!--分pege-->
<div class="header top">

    <a class="box this " href="index.html">
        <img src="__PUBLIC__/home/assets/img/logo@2x.png?92496a8d5e42bc0f272f49103ba96cea" alt="厦门昊广">
    </a>
    <a class="box cxt ">
        <img src="__PUBLIC__/home/assets/img/cxt@2x.png?85d9be93a3c64d4dd1a26f7d25cc991d" alt="传信通">
    </a>
    <a href="ty.html" class="btn-ty">
        立即体验
    </a>

</div>
      <div class="page show">
        <!--content-->
        <h1 class="text-center font-title title">传信通平台客户案例</h1>

        <p class="f-ccc tit text ">案例一：顺丰快递（身份告知及推送广告弹屏）</p>

        <section class="text cell-sw " id='sw1'>
          <div class="swiper-container cell-swiper">
            <ul class="swiper-wrapper">
              <!--1-->
              <li class="swiper-slide item-cell">

                <div class="box">
                  <img class='swiper-lazy' data-src="__PUBLIC__/home/assets/img/s1-1@2x.png?26a1ad46c0dbf6f6f5490425d804aac8" alt="">
                  <div class="swiper-lazy-preloader"></div>
                </div>
              </li>
              <!--1-->
              <li class="swiper-slide item-cell">
                <div class="box">
                  <img class='swiper-lazy' data-src="__PUBLIC__/home/assets/img/s1-2@2x.png?66f4911780104782263100ea7d651f92" alt="">
                  <div class="swiper-lazy-preloader"></div>
                </div>
              </li>

            </ul>
          </div>
          <a class="btn-prev" data-icon></a>
          <a class="btn-next" data-icon></a>
        </section>
        <p class="f-ccc  tit text">案例二：厦门航空（弹屏广告推送+互动彩信）</p>

        <!--con 2-->
        <section class="text cell-sw " id='sw2'>
          <div class="swiper-container cell-swiper">
            <ul class="swiper-wrapper">
              <!--1-->
              <li class="swiper-slide item-cell">

                <div class="box">
                  <img class='swiper-lazy' data-src="__PUBLIC__/home/assets/img/s2-1@2x.png?7e55796373edd736bb20e9eaac0a1187" alt="">
                  <div class="swiper-lazy-preloader"></div>
                </div>
              </li>
              <!--1-->
              <li class="swiper-slide item-cell">
                <div class="box">
                  <img class='swiper-lazy' data-src="__PUBLIC__/home/assets/img/s2-2@2x.png?6fa6a3152995467cf6b6d4e4d2ba860c" alt="">
                  <div class="swiper-lazy-preloader"></div>
                </div>
              </li>
              <!--1-->
              <li class="swiper-slide item-cell">

                <div class="box">
                  <img class='swiper-lazy' data-src="__PUBLIC__/home/assets/img/s2-3@2x.png?9160107a18be13fe23355a1aa1fb5d70" alt="">
                  <div class="swiper-lazy-preloader"></div>
                </div>
              </li>
              <!--1-->
              <li class="swiper-slide item-cell">
                <div class="box">
                  <img class='swiper-lazy' data-src="__PUBLIC__/home/assets/img/s2-4@2x.png?5a994d325c232e4cecc49d0fdbc16887" alt="">
                  <div class="swiper-lazy-preloader"></div>
                </div>
              </li>
            </ul>
          </div>
          <a class="btn-prev" data-icon></a>
          <a class="btn-next" data-icon></a>
        </section>
        <p class="f-ccc  tit text">案例三：厦门航空（交互弹屏广告推送+互动彩信）</p>

        <section class="text cell-sw " id='sw3'>
          <div class="swiper-container cell-swiper">
            <ul class="swiper-wrapper">
              <!--1-->
              <li class="swiper-slide item-cell">
                <div class="box">
                  <img class='swiper-lazy' data-src="__PUBLIC__/home/assets/img/s3-1@2x.png?34be101286d683d69bc669aff172107e" alt="">
                  <div class="swiper-lazy-preloader"></div>
                </div>
              </li>
              <!--1-->
              <li class="swiper-slide item-cell">
                <div class="box">
                  <img class='swiper-lazy' data-src="__PUBLIC__/home/assets/img/s3-2@2x.png?91a35d6339fc4ed93a83b81a658e5162" alt="">
                  <div class="swiper-lazy-preloader"></div>
                </div>
              </li>
              <!--1-->
              <li class="swiper-slide item-cell">
                <div class="box">
                  <img class='swiper-lazy' data-src="__PUBLIC__/home/assets/img/s3-3@2x.png?e6134130e9a880529b16462bbc62cccd" alt="">
                  <div class="swiper-lazy-preloader"></div>
                </div>
              </li>
              <!--1-->
              <li class="swiper-slide item-cell">
                <div class="box">
                  <img class='swiper-lazy' data-src="__PUBLIC__/home/assets/img/s3-4@2x.png?d46a12141db225da5fad72ac2e9eda3f" alt="">
                  <div class="swiper-lazy-preloader"></div>
                </div>
              </li>
            </ul>
          </div>
          <a class="btn-prev" data-icon></a>
          <a class="btn-next" data-icon></a>
        </section>
        <!--con3-->
        <p class="f-ccc  tit text">案例四：大型连锁商家豪客来<br/> （自生长代言人模式+弹屏广告推送+互动彩信）
        </p>
        <section class="text cell-sw " id='sw4'>
          <div class="swiper-container cell-swiper">
            <ul class="swiper-wrapper">
              <!--1-->
              <li class="swiper-slide item-cell">
                <div class="box">
                  <img class='swiper-lazy' data-src="__PUBLIC__/home/assets/img/s4-1@2x.png?e6594b8613c7a0604925feed0b632621" alt="">
                  <div class="swiper-lazy-preloader"></div>
                </div>
              </li>
              <!--1-->
              <li class="swiper-slide item-cell">
                <div class="box">
                  <img class='swiper-lazy' data-src="__PUBLIC__/home/assets/img/s4-2@2x.png?2e692a3e3d6c75ff206ffc09994295db" alt="">
                  <div class="swiper-lazy-preloader"></div>
                </div>
              </li>
              <!--1-->
              <li class="swiper-slide item-cell">
                <div class="box">
                  <img class='swiper-lazy' data-src="__PUBLIC__/home/assets/img/s4-3@2x.png?72c8fe9441ac21e1825d03676de135fe" alt="">
                  <div class="swiper-lazy-preloader"></div>
                </div>
              </li>
              <!--1-->
              <li class="swiper-slide item-cell">
                <div class="box">
                  <img class='swiper-lazy' data-src="__PUBLIC__/home/assets/img/s4-4@2x.png?8b7f7beb69467e9ab87e66161d4986b2" alt="">
                  <div class="swiper-lazy-preloader"></div>
                </div>
              </li>
              <!--1-->
              <li class="swiper-slide item-cell">
                <div class="box">
                  <img class='swiper-lazy' data-src="__PUBLIC__/home/assets/img/s4-4@2x.png?8b7f7beb69467e9ab87e66161d4986b2" alt="">
                  <div class="swiper-lazy-preloader"></div>
                </div>
              </li>
              <!--1-->
              <li class="swiper-slide item-cell">
                <div class="box">
                  <img class='swiper-lazy' data-src="__PUBLIC__/home/assets/img/s4-5@2x.png?bc88c6c817e863d189dc3d126fa24090" alt="">
                  <div class="swiper-lazy-preloader"></div>
                </div>
              </li>
              <!--1-->
              <li class="swiper-slide item-cell">
                <div class="box">
                  <img class='swiper-lazy' data-src="__PUBLIC__/home/assets/img/s4-6@2x.png?74a258958f83c0a06aa1f14ef7b9942f" alt="">
                  <div class="swiper-lazy-preloader"></div>
                </div>
              </li>
            </ul>
          </div>
          <a class="btn-prev" data-icon></a>
          <a class="btn-next" data-icon></a>
        </section>

      </div>

  <div class="loading active" id='mask'>
  <section class='icon-loading'>
    <i></i>
    <i></i>
    <i></i>
    </section>
</div>
<script type="text/javascript" src="__PUBLIC__/home/assets/js/vendors.js?88a448afc8a4d5f5030f&88a448afc8a4d5f5030f"></script><script type="text/javascript" src="__PUBLIC__/home/user/show/app.js?88a448afc8a4d5f5030f"></script></body>

</html>